.main-Text {
  font-family: Arial, Helvetica, sans-serif;
}

body {

  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  
  .navbar-toggler {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .mainHead {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .mainHead {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .mainHead {
    font-size: 50px;
  }
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.nav--items {
  margin-right: 16px;
  margin-left: 8px;
}


.dropdownmenu {
  background-color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.searchBar {
  background-color: transparent;
  border-color: black;
  margin-left: 2px;
}

.searchBar:focus {
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-color: black;
}

.navbar .navbar-nav .nav-link {
  padding: 0.5rem 0.5rem;
}

.navbar-nav .nav-link {
  border: none;
  margin: 0;
  text-shadow: none;
}

.description {
  height: 100%;
  margin: 0;
  width: 100%;
  position: relative;
  text-align: center;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.desc-text {
  color: black;
  font-size: 3.7vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc-text {
  color: #000000;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid red;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 2.7s steps(40, end),
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 58%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: red;
  }
}

.mainHead {

  font-weight: bolder;
  font-variant: petite-caps;
  color: black;
  ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.destinationImg {
  max-height: 180px;
  min-height: 180px;
}

/*  */
.bgImg {
  max-width: 100vw;
  max-height: auto;
}

.card {
  background-color: transparent;
}




.about {
  margin-top: 120px;
  margin-bottom: 70px;
  justify-content: center;
align-items: center;
}

.footer {

  /* min-height: 20vh; */
  /* height: 20vh; */
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  left: 0;
  right: 0;
  background-color: #00FFFF;
  position: absolute;
  
}
.footer i{

  cursor: pointer;
}
.familyImg{
   max-width: 67.5vw;
   max-height: auto;
}
.family{
  margin-top: 170px;
  max-height: fit-content;
}
.familyHead{
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 90vw;
   margin: auto; 
}@media (max-width: 767px) { /* apply styles only on screens up to 767px wide */
  .familyHead h4 {
    font-size: 10px; /* smaller font size for smaller screens */
  }
}